/* Define el color amarillo */
.amarillo {
    color: yellow;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
    /* Color del texto */
    padding: 0.5rem 1rem;
    /* Espaciado interno */
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: FC8621;
    /* Color de fondo en el hover */
  }

  .logo {
    width: 100px;
    /* Ancho deseado */
    height: 100px;
    /* Altura deseada */
  }

  /* Ajusta la imagen */
  .logo img {
    width: 140%;
    /* Ancho del 100% del div */
    height: auto;
    /* Altura automática para mantener la proporción */
  }

  .login a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  
  .intro p{
    text-align: center
}